*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.content-image{
    display: flex;
}
.content{
    width: 50%;
}
.image{
    width: 50%;
}
.content{
    margin-left: 350px;
}
.content-icon-login{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content-btn{
    margin-right: 60px;
    padding-top: 10px;
}
.in-btn{
    width: 100px;
    height: 40px;
}
.in-btn1{
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
    font-weight: bold;
    font-family: serif;
}
.in-btn2{
    background-color: rgb(0, 0, 0);
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-family: serif;
}
.in-p{
    font-size: 40px;
    font-family: cursive;
    padding-bottom: 15px;
}
.in-p2{
    font-size: 25px;
    color: gray;
    padding-bottom: 50px;
}
.in-input{
    width: 70%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    border: 2px solid #fc8019;
}
.in-input-btn{
    width: 20%;
    height: 53px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fc8019;
    color: #fff;
    border: 1px;
    margin-bottom: 40px;
}
.in-p3{
    color: gray;
    padding-bottom: 20px;
}
.one{
    font-weight: bold;
}
.brown-section{
    display: flex;
    width: 100%;
    background-color: #2b1e16;
    justify-content: space-around;
    height: 400px;
}
.box1{
    padding-left: 300px;
}
.box3{
    padding-right: 300px;
    padding-top: 30px;
}
.section-h3{
    padding-top: 40px;
    color: #fff;
}
.section-p{
    color: #e0c4a8;
}
.content2-image{
    display: flex;
}
.content2{
    width: 30%;
    margin-left: 300px;
    margin-top: 100px;
}
.image2{
    width: 50%;
}
.content2-p{
    font-size: 25px;
    padding-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 80px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h5{
    color: gray;
}
